<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genérico</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <div class="body-intro">
        <img src="../img/PE_Logo.png" alt="">
    </div>
    <div class="body-conteudo">
        <div class="conteudo-info"></div>
        <div class="conteudo"></div>
    </div>
    <footer>
        <span>
            A empresa Passagens Express tem como objetivo principal automatizar o
            processo de vendas de passagens, proporcionando mais eficiência, rapidez e
            comodidade aos usuários.
        </span>

        <span>
            Todos os direitos reservados ©
        </span>
    </footer>
</body>

</html>